/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/

.TilesConatiner {
  display: grid;
  padding-inline: 2rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.5rem;
}

.TileFrame {
  width: 250px;
  height: 250px;
  z-index: 2;
}

.TileImage {
  position: absolute;
  width: 200px;
  top: 1rem;
  min-height: 200px;
  left: 1.2rem;
}
